.lake/
lakefile.olean
lakefile.olean.lock

.vscode/
.idea/

# some os stuff
.DS_Store
Thumbs.db

# python
.venv

# latex build files
blueprint/src/print.aux
blueprint/src/print.fdb_latexmk
blueprint/src/print.fls
blueprint/src/print.log
blueprint/src/print.out
blueprint/src/print.synctex.gz
blueprint/src/print.pdf
